.verticaltext{
width:.5px;
word-wrap: break-word;
white-space:pre-wrap; 

 }

 .centerdiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 }