body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #fff;
    height: 100%;
    background-color: #357fa4;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-color: #357fa4;
    color: #fff;
    padding: 20rem 25px;
    font-family: Montserrat, sans-serif;
    width: 100%;
    height: 100%;
  }
  
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #357fa4;
    font-size: 50px;
  }
  .logo {
    color: #8FD8D8;
    font-size: 200px;
  }

  .navbar {
    margin-bottom: 0;
    background-color: #357fa4;
    ;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover{
    color: #8FD8D8!important;
    background-color: #fff !important;  
  } 
  .navbar-nav li.active a {
    background-color: #8FD8D8 !important; 
  }

  .navbar-nav li.active a:hover {
    color: #8FD8D8!important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #357fa4;
  }
  