body {
  font-family: Montserrat, sans-serif;
  color: #3b3735;
  font-size: 1.2em;
}

a {
  color: #00bfa5;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}


.navbar-brand {
    color: #000000;
    font-size: 2rem;
    } 

    .wrap 
      
      h1.likert-header {
        padding-left:4.25%;
        margin:20px 0 0;
      }
      form .statement {
        display:block;
        font-size: 14px;
        font-weight: bold;
        padding: 30px 0 0 4.25%;
        margin-bottom:10px;
      }

      .gdsdiv {

        padding: 1rem;

        list-style:none;
        width:100%;
        margin:0;
        padding:0 0 35px;
        display:block;
        border-bottom:2px solid #DCDCDC;
        margin-top: 3rem;
        margin-bottom: 3rem;
      

        
      }

    

      .whitebutton{
        background-color: #00bfa5;
        color: black;
        border: 1px #00bfa5 solid;
    }
    
    .whitebutton:hover {
        background-color: grey;
    }

    input[type=radio]{
      transform:scale(1.4);
    }