body {
  font-family: Montserrat, sans-serif;
  color: #3b3735;
  font-size: 1em;
}

a {
  color: #00bfa5;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

.modal-intrucoes{
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
}

.wrap {
    font:1rem Arial, san-serif;
  }
  h1.likert-header {
    padding-left:4.25%;
    margin:20px 0 0;
  }
  form .statement {
    display:block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 30px 0 0 4.25%;
    margin-bottom:10px;
  }
  form .likert {
    list-style:none;
    width:100%;
    margin:0;
    padding:0 0 35px;
    display:block;
    border-bottom:2px solid #DCDCDC;
  }
  form .likert:last-of-type {border-bottom:0;}
  form .likert:before {
    content: '';
    position:relative;
    top:11px;
    left:9.5%;
    display:block;
    background-color: grey;
    height:4px;
    width:78%;
  }
  form .likert li {
    display:inline-block;
    width:19%;
    text-align:center;
    vertical-align: top;
  }
  form .likert li input[type=radio] {
    display:block;
    position:relative;
    top:0;
    left:50%;
    margin-left:-6px;
    
  }
  form .likert li label {
    width:100%;
    margin-top: 1rem;
  
  }
 
  .buttons{
    float: right;
  }

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  #customers tr {
    text-align: center;
  }

  .score{
    text-align: center;
  }

  .whitebutton{
    background-color: #00bfa5;
    color: black;
    border: 1px #00bfa5 solid;
}

.whitebutton:hover {
    background-color: grey;
}

input[type=radio]{
  transform:scale(1.2);
}